/* General body styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
}

/* Container for the form */
.container-page {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 50px auto;
}

h2 {
    text-align: left;
    color: #333;
    margin-bottom: 20px;
    margin-top: 0px;
}

/* Form description */
p {
    text-align: left;
    color: #555;
    margin-bottom: 20px;
}

/* Label styling */
.label {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

/* Input box styling */
.input-box {
    width: 100%;
    padding: 14px; /* Increased padding for better visual balance */
    font-size: 1.2rem; /* Increased font size */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}


    /* Input box focus styling */
    .input-box:focus {
        border-color: #5c6bc0;
        outline: none;
    }

/* Validation error message */
.text-danger {
    font-size: 0.875rem;
    color: #f44336;
    margin-top: 5px;
}

/* Button styling */
.btn-primary {
    width: 50%;
    padding: 14px 20px;
    background-color: #5c6bc0;
    color: white;
    border: none;
    font-size: 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 10px;
}

    /* Button hover effect */
    .btn-submit:hover {
        background-color: #3f51b5;
    }

    /* Button focus effect */
    .btn-submit:focus {
        outline: none;
        box-shadow: 0 0 5px rgba(63, 81, 181, 0.6);
    }

.error-message {
    color: red;
    padding-top: 25px;
}